@page "/admin/organisation/{organisationId:Guid}/edit"
@model DemaWare.DemaIdentify.Web.Pages.Admin.Organisation.OrganisationEditModel
@inject LocalizationService localizer

@{
	Layout = "_AdminLayout";
	ViewData["Title"] = string.Format("{0} ({1})", localizer.GetLocalizedHtmlString("Organisation"), localizer.GetLocalizedHtmlString("Edit"));
}

<form method="post">
	<partial name="_ValidationSummary" />

	<input type="hidden" asp-for="Input.EntityId" />

	<div class="card-body">
		<div class="container-fluid px-0">
			<div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Input.Name" class="form-label"></label>
                    <input type="text" asp-for="Input.Name" class="form-control" placeholder="@localizer.GetLocalizedHtmlString("Name")" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="Input.DomainName" class="form-label"></label>
                    <input type="text" asp-for="Input.DomainName" class="form-control" placeholder="@localizer.GetLocalizedHtmlString("DomainName")" />
                    <span asp-validation-for="Input.DomainName" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
					<div class="form-check form-switch">
					  <input type="checkbox" asp-for="Input.IsEnabled" role="switch" class="form-check-input">
					  <label asp-for="Input.IsEnabled" class="form-check-label"></label>
					</div>
                </div>
			</div>
		</div>
	</div>

	<div class="card-footer text-center">
		<a asp-page="./OrganisationOverview" class="btn btn-lg btn-outline-secondary text-uppercase">@localizer.GetLocalizedHtmlString("Cancel")</a>
		<button class="btn btn-lg btn-outline-primary text-uppercase" type="submit">@localizer.GetLocalizedHtmlString("Save")</button>
	</div>
</form>
