@page "/admin"
@inject LocalizationService localizer

@{
	Layout = "_AdminLayout";
	ViewData["Title"] = localizer.GetLocalizedHtmlString("Home");
}

<div class="card-body">
	Welcome to the admin pages....
</div>
