@page
@model ForgotPasswordConfirmation
@inject LocalizationService localizer

@{
    ViewData["Title"] = localizer.GetLocalizedHtmlString("PasswordForgotTitle");
}

<h2>@ViewData["Title"]</h2>
<p>@localizer.GetLocalizedHtmlString("PasswordSentMessage")</p>
