@page
@model ResetPasswordConfirmationModel
@inject LocalizationService localizer

@{
	ViewData["Title"] = localizer.GetLocalizedHtmlString("PasswordReset");
}

<h2>@ViewData["Title"]</h2>
<p>@localizer.GetLocalizedHtmlString("PasswordChanged")</p>

<div class="mb-3">
	<div class="btn-group btn-group-lg w-100">
		<a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-outline-secondary">@localizer.GetLocalizedHtmlString("Login")</a>
	</div>
</div>
