@page "/admin/identity/user/{userId:Guid}/role/{roleName}/delete"
@model DemaWare.DemaIdentify.Web.Pages.Admin.Identity.User.UserRoleDeleteModel
@inject LocalizationService localizer

@{
	Layout = "_AdminLayout";
	ViewData["Title"] = string.Format("{0} ({1} - {2})", localizer.GetLocalizedHtmlString("User"), localizer.GetLocalizedHtmlString("Role"), localizer.GetLocalizedHtmlString("Delete"));
}

<form method="post">
	<partial name="_ValidationSummary" />
	<div class="card-body">
		<p class="card-text">@Html.Raw(string.Format(localizer.GetLocalizedHtmlString("UserRoleConfirmDelete"), string.Format("<span class=\"fw-bold\">{0}</span>", Model.RoleName), string.Format("<span class=\"fw-bold\">{0}</span>", Model.Input.Email)))</p>
	</div>
	<div class="card-footer text-center">
		<a asp-page="./UserRoles" asp-route-userId="@Model.Input.EntityId" class="btn btn-lg btn-outline-secondary text-uppercase">@localizer.GetLocalizedHtmlString("Cancel")</a>
		<button class="btn btn-lg btn-outline-danger text-uppercase" type="submit">@localizer.GetLocalizedHtmlString("Delete")</button>
	</div>
</form>
