@page "/admin/application/client"
@model DemaWare.DemaIdentify.Web.Pages.Admin.Application.ApplicationClientOverviewModel
@inject LocalizationService localizer

@{
	Layout = "_AdminLayout";
	ViewData["Title"] = localizer.GetLocalizedHtmlString("Clients");
}

<div class="row mx-2 mt-3">
	<div class="col-12">
		<div class="card">
			<table class="table table-striped table-hover">
				<thead class="table-light">
					<tr>
						<th scope="col">ClientId</th>
						<th scope="col">Name</th>
						<th scope="col" style="width:100px;">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var applicationClient in Model.ApplicationClients) {
						<tr>
							<td scope="row">@applicationClient.ClientId</td>
							<td>@(applicationClient.DisplayName ?? "-")</td>
							<td><a asp-page="./ApplicationClientDetail" asp-route-entityId="@applicationClient.EntityId" class="btn btn-sm btn-primary text-uppercase">@localizer.GetLocalizedHtmlString("Open")</a></td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
