@page "/admin/template/email/{templateId:Guid}/delete"
@model DemaWare.DemaIdentify.Web.Pages.Admin.Template.EmailDeleteModel
@inject LocalizationService localizer

@{
	Layout = "_AdminLayout";
	ViewData["Title"] = string.Format("{0} ({1} - {2})", localizer.GetLocalizedHtmlString("Template"), localizer.GetLocalizedHtmlString("Email"), localizer.GetLocalizedHtmlString("Delete"));
}

<form method="post">
	<partial name="_ValidationSummary" />
	<div class="card-body">
		<p class="card-text">@Html.Raw(string.Format(localizer.GetLocalizedHtmlString("TemplateConfirmDelete"), string.Format("<span class=\"fw-bold\">{0}</span>", Model.Template?.Subject)))</p>
	</div>
	<div class="card-footer text-center">
		<a asp-page="./EmailOverview" class="btn btn-lg btn-outline-secondary text-uppercase">@localizer.GetLocalizedHtmlString("Cancel")</a>
		<button class="btn btn-lg btn-outline-danger text-uppercase" type="submit">@localizer.GetLocalizedHtmlString("Delete")</button>
	</div>
</form>
